body {
    background-color:  #0300c2;
}

#header {
    margin-left: 38%;
    margin-right:15%;
}

#sort{
    margin-left: 47%;
    margin-right:25%;
}

#sortFavorite{
    margin-left: 47%;
    margin-right:25%;
}

#search-div {
    margin-left: 38%;
    margin-right:25%;
}

#form-area {
    margin-left: 15%;
    margin-right:15%;
    width: 70%;
    display: block;
    text-align: center;
    display: inline-block;
    background-color:  #efeff4;
}

#entry-form {
    align-items: center;
}

#entry-area {
    margin-left: 40%;
    margin-right:40%;
    
    background-color: #efeff4;
}

#container-header {
    margin-left: 38%;
    margin-right:15%;
}